* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#board {
    /* display: inline-block; */
    background-color: black;
    height: 650px;
    width: 650px;
    padding: 5px;
}

.tile {
    width: 80px;
    height: 80px;
    float: left;
}

.apricot {
    background-color: #f6e3ce;
}

.brown {
    background-color: brown;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 2.5px 2.5px;
}

.light-grey {
    background-color: #0a0a0a;
}

.grey {
    background-color: grey;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

#status {
    border: black 3px solid;
    width: 650px;
    height: 100px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle
}

p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px;
}